.app{
	width: 95%;
	margin: 20px auto;
	font-size: 1.5em;
	h1{
		font-weight: normal;
		text-transform: uppercase;
		padding-bottom: 10px;
		border-bottom: 1px solid #ddd;
		text-align: center;
	}
}
.with-icon .glyphicon{
	margin-right: 10px;
}
.icon-left{
	margin-right: 10px;
}
a:visited{
	color: #eee
}
.btn{
	border-radius:0;
}

form {
	.row {
		>.col-md-6:first-child {
			border-right: 1px solid #ddd;
		}
		select{
			display: inline-block;
			width: auto;
		}
	}
	.form-row{
		padding-bottom: 10px;
		&:first-child{
			margin-top: 15px;
		}
		select{
			width: 100%;
		}
		.btn{
			margin-top: 22px;
		}
	}
	input[type="submit"] {
		display:block;
		margin-top: 10px;
		width: 100%;
		text-transform: uppercase;
		font-weight: 300;
	}
}
