<div class="app">
	<h1>New item</h1>
	<p>
		<%= link_to '<i class="glyphicon glyphicon-arrow-left"></i>Back'.html_safe,  products_path, class: "btn btn-primary with-icon" %>
	</p>
	<%= render 'form' %>
</div>

